@tailwind base;
@tailwind components;
@tailwind utilities;

/* hyphenate wrapped words */
.hyphenate {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
